.interest__img_in, .hero__img_in, .about__adv_icon_in {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about__img_in {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.get_in__form_btn, .hero__btn {
  border: 1px solid #1636ee;
  font-weight: 700;
  color: #fff;
  background-color: #1636ee;
  transition: background-color 0.3s ease, color 0.3s ease;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
}
.get_in__form_btn:hover, .hero__btn:hover, .get_in__form_btn:focus, .hero__btn:focus {
  text-decoration: none;
}
.get_in__form_btn:hover, .hero__btn:hover {
  color: #1636ee;
  background-color: #fff;
}

.get_in__form_btn, .hero__btn {
  height: 4.4rem;
  width: 100%;
  padding: 0 2.2rem;
  line-height: 4.4rem;
  font-size: 1.6rem;
  border-radius: 0.2rem;
}

.interest__list, .about__adv_list, .footer__list, .header__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}

.get_in__form_row, .interest__row, .about__row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: stretch;
}

.header__nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
}

.footer__nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  align-items: flex-start;
}

.interest__col:nth-child(2), .experience__adv_list, .experience__list, .experience__row, .hero__btn_w, .hero, .about__col:last-child, .section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.form_radio__label:after, .form_checkbox__label:after {
  transition: opacity 0.3s ease;
  will-change: opacity;
}

.get_in__title, .interest__title, .experience__title, .about__title {
  margin-bottom: 5rem;
  font-size: 5.6rem;
  color: #0844a4;
  text-align: center;
}

.form_select__label, .form_textarea__label, .form_input__label {
  display: block;
  margin-bottom: 0.4rem;
  font-size: 1.6rem;
  color: #000;
}

.form_select__element, .form_textarea__element, .form_input__element {
  display: block;
  width: 100%;
  height: 4.4rem;
  padding: 0 2rem;
  font-size: 1.6rem;
  font-family: "RobotoCondensed", sans-serif;
  color: #000;
  box-shadow: inset 0 0 0 1px #1636ee;
  border: none;
  border-radius: 0.2rem;
}
.form_select__element::-webkit-input-placeholder, .form_textarea__element::-webkit-input-placeholder, .form_input__element::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
}
.form_select__element::-moz-placeholder, .form_textarea__element::-moz-placeholder, .form_input__element::-moz-placeholder {
  color: rgba(0, 0, 0, 0.4);
}
.form_select__element:-ms-input-placeholder, .form_textarea__element:-ms-input-placeholder, .form_input__element:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
}
.form_select__element:hover, .form_textarea__element:hover, .form_input__element:hover, .form_select__element:focus, .form_textarea__element:focus, .form_input__element:focus {
  box-shadow: inset 0 0 0 1px #000;
}

.form_checkbox__label {
  position: relative;
  padding-left: 3rem;
  font-size: 1.6rem;
  color: #000;
  cursor: pointer;
}
.form_checkbox__label:before, .form_checkbox__label:after {
  position: absolute;
  top: -1px;
  left: 0;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}
.form_checkbox__label:before {
  content: "";
  border-radius: 2px;
  border: 1px solid #000;
}
.form_checkbox__label:after {
  text-align: center;
  line-height: 2rem;
  opacity: 0;
  color: #000;
}
.form_checkbox__element:checked + .form_checkbox__label:after {
  opacity: 1;
}

.form_radio__label {
  position: relative;
  padding-left: 3rem;
  font-size: 1.6rem;
  color: #000;
  cursor: pointer;
}
.form_radio__label:before {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  border: 1px solid #000;
  cursor: pointer;
}
.form_radio__label:after {
  content: "";
  position: absolute;
  top: 0.4rem;
  left: 0.5rem;
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  background: #000;
  opacity: 0;
}
.form_radio__element:checked + .form_radio__label:after {
  opacity: 1;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
}
html:before, html:after, body:before, body:after, div:before, div:after, span:before, span:after, object:before, object:after, iframe:before, iframe:after,
h1:before,
h1:after, h2:before, h2:after, h3:before, h3:after, h4:before, h4:after, h5:before, h5:after, h6:before, h6:after, p:before, p:after, blockquote:before, blockquote:after, pre:before, pre:after,
abbr:before,
abbr:after, address:before, address:after, cite:before, cite:after, code:before, code:after,
del:before,
del:after, dfn:before, dfn:after, em:before, em:after, img:before, img:after, ins:before, ins:after, kbd:before, kbd:after, q:before, q:after, samp:before, samp:after,
small:before,
small:after, strong:before, strong:after, var:before, var:after,
b:before,
b:after, i:before, i:after,
dl:before,
dl:after, dt:before, dt:after, dd:before, dd:after, ol:before, ol:after, ul:before, ul:after, li:before, li:after,
fieldset:before,
fieldset:after, form:before, form:after, label:before, label:after, legend:before, legend:after,
article:before,
article:after, aside:before, aside:after, canvas:before, canvas:after, details:before, details:after, figcaption:before, figcaption:after, figure:before, figure:after,
footer:before,
footer:after, header:before, header:after, hgroup:before, hgroup:after, menu:before, menu:after, nav:before, nav:after, section:before, section:after, summary:before, summary:after,
time:before,
time:after, mark:before, mark:after, audio:before, audio:after, video:before, video:after, button:before, button:after {
  box-sizing: border-box;
}

sub,
sup {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent;
  box-sizing: border-box;
}
sub:before, sub:after,
sup:before,
sup:after {
  box-sizing: border-box;
}

a:before, a:after {
  box-sizing: border-box;
}

table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul, li {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: none;
}

q:before, q:after {
  content: none;
}

:focus {
  outline: 0;
}

input[type=text], textarea {
  -webkit-appearance: none;
}
input[type=text]::-ms-clear, textarea::-ms-clear {
  display: none;
}

input,
textarea {
  border-radius: 0;
  box-sizing: border-box;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  color: rgba(0, 0, 0, 0.4);
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
}
input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: transparent;
}
input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  color: transparent;
}
input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
  color: transparent;
}

textarea {
  resize: none;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  word-wrap: break-word;
}

@font-face {
  font-family: 'Helvetica';
  src: url('../font/sHelvetica-Bold.woff2') format('woff2'),
      url('../fonts/Helvetica-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/Helvetica-Regular.woff2') format('woff2'),
      url('../fonts/Helvetica-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --height-header: 7rem;
  --height-footer: 15rem;
  --gl-indent: 2rem;
}

html {
  height: 100%;
  font-family: "Helvetica", sans-serif;
  font-weight: 400;
  line-height: 1.33;
  scroll-behavior: smooth;
}

@media screen and (min-width: 1921px) {
  html {
    font-size: 0.5208333333vw;
  }
}
@media (min-width: 1200px) and (max-width: 1920px) {
  html {
    font-size: 10px;
  }
}
@media screen and (max-width: 1199px) {
  html {
    font-size: 0.8333333333vw;
  }
}

body {
  position: relative;
  display: flex;
  height: 100%;
  font-size: 1.6rem;
  color: #606060;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fff;
}
@supports (display: grid) {
  body {
    display: block;
  }
}

.base {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  height: auto !important;
}

a {
  text-decoration: none;
  color: #4aa3df;
}
a:hover, a:focus {
  text-decoration: underline;
}

.header {
  position: sticky;
  top: 0px;
  left: 0;
  display: block;
  height: var(--height-header);
  width: 100%;
  padding: 0 var(--gl-indent);
  font-size: 1rem;
  background-color: #fff;
  z-index: 100;
}

.header__in {
  max-width: 140rem;
  height: 100%;
  margin: 0 auto;
}

.header__nav {
  height: 100%;
}

.header__list {
  gap: 3rem;
}

.header__link {
  display: block;
  padding-right: 3rem;
  border-right: 2px solid rgba(0, 0, 0, 0.4);
  font-size: 1.8rem;
  font-weight: 700;
  color: #1636ee;
  transition: color ease 0.3s;
}
.header__link:hover {
  color: rgba(33, 20, 214, 0.7);
}
.header__item:last-child .header__link {
  padding-right: 0;
  border-right: none;
}

.footer {
  display: block;
  width: 100%;
  min-height: var(--height-footer);
  padding: 2rem var(--gl-indent);
  flex: 0 0 auto;
  font-size: 1rem;
  will-change: transform;
  background-color: #fff;
  border-top: 1px solid rgba(0, 0, 0, 0.6);
}

.footer__in {
  max-width: 140rem;
  height: 100%;
  margin: 0 auto;
}

.footer__nav {
  position: relative;
  height: 100%;
  margin-bottom: 3rem;
}
.footer__nav:after {
  position: absolute;
  bottom: -1.5rem;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 20%;
  background-color: #ee3c1c;
  content: "";
}

.footer__list {
  gap: 3rem;
}

.footer__link {
  display: block;
  padding-right: 3rem;
  border-right: 2px solid rgba(0, 0, 0, 0.4);
  font-size: 1.8rem;
  font-weight: 700;
  color: #1636ee;
  transition: color ease 0.3s;
}
.footer__link:hover {
  color: rgba(33, 20, 214, 0.7);
}
.footer__item:last-child .footer__link {
  padding-right: 0;
  border-right: none;
}

.footer__descr {
  margin-bottom: 1rem;
  font-size: 1.6rem;
  text-align: center;
}
.footer__descr:last-child {
  margin-bottom: 0;
}

.footer__descr_link {
  transition: color ease 0.3s;
}
.footer__descr_link:focus, .footer__descr_link:hover {
  color: #1636ee;
}

.form_textarea__element {
  padding-top: 2rem;
  padding-bottom: 2rem;
  height: 15rem;
}

.form_checkbox__block {
  display: block;
}

.form_checkbox__element {
  display: none;
}

.form_radio__block {
  display: block;
}

.form_radio__element {
  display: none;
}

.section {
  position: relative;
  width: 100%;
  font-size: 1rem;
  overflow: hidden;
  padding: 5rem var(--gl-indent);
  min-height: 100vh;
}
.section:nth-child(odd) {
  background-color: rgba(243, 243, 243, 0.4);
}
.section.get_in {
  min-height: calc(100vh - (var(--height-header)));
}

.section__in {
  max-width: 140rem;
  width: 100%;
  margin: 0 auto;
}

a:hover {
  text-decoration: none;
}

.spiner {
  position: fixed;
  z-index: 10;
  bottom: 3rem;
  right: 3rem;
}

.spiner__in {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  font-size: 1rem;
}

.spiner__info {
  animation: fade ease-in-out alternate infinite 1.4s;
}

.spiner__item {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 0 1px #ee3c1c;
}

.spiner__item:nth-child(1) {
  animation: items ease infinite 1.4s;
}

.spiner__item:nth-child(2) {
  animation: items ease infinite 1.4s 0.2s;
}

.spiner__item:nth-child(3) {
  animation: items ease infinite 1.4s 0.4s;
}

.spiner__item:nth-child(4) {
  animation: reverseitems ease infinite 1.4s;
}

.spiner__item:nth-child(5) {
  animation: reverseitems ease infinite 1.4s 0.2s;
}

.spiner__item:nth-child(6) {
  animation: reverseitems ease infinite 1.4s 0.4s;
}

@keyframes items {
  10% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}
@keyframes reverseitems {
  10% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-90deg);
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.about__col:first-child {
  width: 33%;
}
.about__col:last-child {
  width: 67%;
  padding-left: 10rem;
}

.about__img {
  display: block;
}

.about__descr {
  margin-bottom: 6rem;
  font-size: 1.6rem;
  line-height: 1.65;
}

.about__adv_list {
  margin: 0 -4rem -2rem 0;
}

.about__adv_item {
  position: relative;
  width: 33.3333333333%;
  padding: 0 4rem 2rem 4rem;
}

.about__adv_icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 3rem;
  height: 3rem;
}

.about__adv_title {
  margin-bottom: 1rem;
  color: #1636ee;
  font-size: 2.2rem;
}

.about__adv_descr {
  font-size: 1.6rem;
}

.hero {
  position: relative;
  min-height: 100vh;
}

.hero__img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.hero__in {
  max-width: 80rem;
  width: 100%;
  padding: 4rem;
  border: 0.4rem solid #1636ee;
}

.hero__title {
  font-size: 4.8rem;
  font-weight: 700;
  text-align: center;
  color: #1636ee;
  margin-bottom: 3rem;
}

.experience__col {
  width: 33.3333333333%;
}

.experience__list_item {
  width: 100%;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 2.2rem;
}
.experience__list_item:last-child {
  margin-bottom: 0;
}

.experience__chart {
  padding: 4rem;
}

.experience__chart_icon {
  position: relative;
  width: 30rem;
  height: 30rem;
  margin: 0 auto 3rem;
  border-radius: 50%;
  background-image: radial-gradient(circle, white 40%, rgba(0, 0, 0, 0) 40%), conic-gradient(#1636ee 0 32%, gold 0 42%, #4aac08 0 65%, #ee3c1c 0 100%);
}

.experience__adv_list {
  gap: 3rem;
}

.experience__adv_item {
  padding: 0.6rem 1.6rem;
  font-weight: 700;
  font-size: 2.2rem;
  border-radius: 0.6rem;
}
.experience__adv_item:nth-child(1) {
  background-color: #1636ee;
}
.experience__adv_item:nth-child(2) {
  background-color: #ee3c1c;
}
.experience__adv_item:nth-child(3) {
  background-color: #fdec05;
}
.experience__adv_item:nth-child(4) {
  background-color: #4aac08;
}

.interest__item {
  margin-bottom: 4rem;
  opacity: 0;
}
.interest__item:last-child {
  margin-bottom: 0;
}
.interest:hover .interest__item:nth-child(1),
.interest:target .interest__item:nth-child(1) {
  animation-name: fadeOut;
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.interest:hover .interest__item:nth-child(2),
.interest:target .interest__item:nth-child(2) {
  animation-name: fadeOut;
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-delay: 0.8s;
  animation-fill-mode: forwards;
  animation-delay: 0.8s;
}

.interest__row {
  margin: 0 -12rem -4rem 0;
}
.interest__item:nth-child(odd) .interest__row {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: stretch;
}

.interest__col {
  width: 50%;
  padding: 0 12rem 4rem 0;
}
.interest__img {
  display: block;
  height: 20vw;
}

.interest__img_in {
  object-position: top;
}

.interest__descr {
  font-size: 1.8rem;
  line-height: 1.6;
}
.interest__descr p {
  padding-bottom: 1.2rem;
}
.interest__descr p:last-child {
  padding-bottom: 0;
}

@keyframes fadeOut {
  0% {
    transform: translateY(20rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.get_in__descr {
  font-size: 2.6rem;
  text-align: center;
  margin-bottom: 4rem;
}

.get_in__form_in {
  max-width: 80rem;
  margin: 0 auto;
}

.get_in__form_row {
  margin-bottom: 2rem;
}
.get_in__form_row:last-child {
  margin-bottom: 0;
}

.get_in__form_col {
  width: 33.3333333333%;
  padding-right: 2rem;
}
.get_in__form_col:last-child {
  padding-right: 0;
}

.form_textarea {
  width: 100%;
}
